.formulario{
	background: url('black-background.jpg');
	height: 100% !important;
	padding: 15% 0 0 0;
	color: #ffffff;
}
.gerador{
	height: 100% !important;
	display: block;
	background: #cccccc;
}
.instrucoes{
	background: url('background-whatsapp.jpg');
	padding: 15% 0 0 0;
}
body{
	overflow-x: hidden;
	height: 100% !important;
}
html{
	height: 100% !important
}